.flex-container {
    /*width: 99%;*/ 
    margin: auto;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: center;
	
}

.product {
    width: 200px;
	margin: 10px;
	text-align: center;
	padding: 0;
	border: 2px solid black;
}

.product-img>img {
	margin-top: 3px;
	width: 100px;
	height: 100px; 
	
 }

 .product-info {
	height: 50%;
	padding-bottom: 5px;
	font-size: 12px; 
	/* margin-bottom: 0px; */
}

.product-info>h3 {
	font-size: 11px;
	
}

.product-addcart {
	border: 1px solid black;
	width: 90%;
	margin: 5px auto 1px;
}